{% extends 'core/base1.html' %} 
{% load static %}

{% block head_title %}Online Banking System{% endblock %} 

{% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center ">
  <div class="w-full lg:w-1/2 lg:py-6 text-center">
    <!-- You can add some content here if needed -->
  </div>
  <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-6 pb-24 px-10 bg-blue-800 rounded-2xl bg-opacity-70">
    <h3 class="text-4xl font-bold text-white mb-8">
      At Online Banking System we believe that:
    </h3>
    <ul class="text-xl text-white list-disc mb-12">
      <li>“Good banking is produced not by good laws, but by good bankers.”</li>
      <li>“In banking or finance, trust is the only thing you have to sell.”</li>
    </ul>
    <a href="{% url 'accounts:user_registration' %}" class="bg-white text-blue-900 font-bold py-3 px-8 rounded-full hover:bg-blue-900 hover:text-white shadow-lg transition duration-300">
      Register to Open A New Account
    </a>
  </div>
</div>
{% endblock %}
